body {
	width: 980px;
	margin: auto;
	padding: 0;
	color:#000;
	font-size:12px;color:#333;
	behavior:url(/images/ssp.htc);
	font-family:Î¢ÈíÑÅºÚ,Arial;
	text-align:left;
	-webkit-text-size-adjust:none
}
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;} 

#top{
	height:8px;
	background:#65a9e6;
;
	margin: auto auto auto auto;
}
#header{
	width: 980px;
	height:270px;
	margin:0 auto 18px auto;
	padding: 0;
}
#header #logoarea{
	width: 980px;
	height: 60%;
	background: url(http://static.loli.my/images/header/bilibili_chun2_128color.png) no-repeat center top transparent;
	no-repeat center top transparent;
	display: block;
	overflow:hidden;
	margin:0 auto;
	padding:0;
}
#header #banner{
	float:left;
	width: 980px;
	height: 40%;
	background:#0c6;
	margin:0 auto;
}
#main{
	width: 80%;
	margin: auto;
	float: left;
}
#main #title{
	float:left;
	width:80%;
	height:auto;
	font-size:20px;
	padding:1%
}
#main #info{
	float:left;
	width:80%;
	height:auto;
	padding:1%
}

#sider{
	float:right;
	width: 20%;
	height:0px;
	background:#03e;
}

#welcome{
	font-size:28px;color:#333;
	font-family:Î¢ÈíÑÅºÚ,Arial;
	width:80%;
}